<form [formGroup]="empleadoForm">
    <h4>Agregar Empleado</h4>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="Nombre"
            formControlName="name">
        <small *ngIf="formSubmitted && empleadoForm.get('name').hasError('required')" style="color: red;">
            Campo requerido
        </small>
        <small *ngIf="formSubmitted && empleadoForm.get('name').hasError('maxlength')" style="color: red;">
            Maximo de 30 caracteres
        </small>
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" aria-describedby="apellidoHelp" placeholder="Apellido"
            formControlName="last_name">
        <small *ngIf="formSubmitted && empleadoForm.get('last_name').hasError('required')" style="color: red;">
            Campo requerido
        </small>
        <small *ngIf="formSubmitted && empleadoForm.get('last_name').hasError('maxlength')" style="color: red;">
            Maximo de 30 caracteres
        </small>
    </div>
    <div class="mb-3">
        <label for="nombre" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="birthday" aria-describedby="nombreHelp"
            placeholder="Fecha Nacimiento" formControlName="birthday">
        <small *ngIf="formSubmitted && empleadoForm.get('birthday').hasError('required')" style="color: red;">
            Campo requerido
        </small>
    </div>
    <button type="submit" class="btn btn-primary btn-block" (click)="registarEmpleado()">Registrar Empleado</button>
</form>